.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

button {
  margin: 20px;
}

.video-cover {
  flex: 0;
  height: 360px;
  width: 640px;
  position: absolute;
  top: 0;
}
.video-cover:hover {
  background-color: rgba(255,255,255,.2);
}

.video-wrapper {
  position: relative;
}